@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat";
    color: #252525;
}
.sticky {
    background: #060135;
}
.opacity {
    background: #020013ab;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*START HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 4;
}
.header .header__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}
.header .header__button i {
    color: #fafafa;
}
.header .header__button:active {
    color: #e500ff;
}

/*START NAVBAR*/

.navbar {
    background: #fff;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    transform: translate(-100%);
    transition: 0.5s;
    z-index: 5;
}
.navbar__inactive {
    transform: translate(0);
    transition: 0.5s;
}
.navbar-cart__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-cart__top .navbar-cart__strong {
    font-size: 1.3rem;
}
.navbar-cart__top .navbar-cart__button {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-cart__top .navbar-cart__button:hover {
    background: #2525253b;
    border-radius: 50px;
}
.navbar-cart__top .navbar-cart__button i:active {
    color: #e500ff;
}
.navbar .navbar-search {
    width: 100%;
    border: 1px solid #020013;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 20px;
    justify-content: space-between;
    margin: 2rem auto;
}
.navbar .navbar-search .navbar-search__input {
    width: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    outline: none;
}
.navbar .navbar-search .navbar-search__button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1rem;
}
.navbar__list {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}
.navbar__link a {
    font-weight: 600;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navbar__link a i {
    font-size: 1.5rem;
}
.navbar .navbar__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3rem;
}
.navbar .navbar__bottom h6 a {
    text-decoration: underline;
}
.navbar .navbar__bottom h6 a:hover {
    color: #e500ff;
}
/*END NAVBAR*/

/*START CART*/

.cart {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    padding: 3rem;
    transform: translate(0);
    transition: 0.5s;
    z-index: 6;
}
.cart__inactive {
    transform: translate(100%);
    transition: 0.5s;
}

/*END CART*/
/*END HEADER*/

/*START HERO*/

.hero {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background: url(../assets/hero_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.hero__text {
    position: absolute;
    top: 40%;
    padding: 0 2rem;
}
.hero__text .hero__tittle {
    font-size: 3rem;
    max-width: 600px;
    color: #fafafa;
}
.hero__search {
    width: 100%;
    max-width: 700px;
    background: #fafafa;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 5px 20px;
    margin-top: 2rem;
}
.hero__search__input {
    font-size: 20px;
    padding: 1.188rem 1.25rem;
    border: none;
    outline: none;
    border-radius: 50px;
    width: 100%;
}
.hero__search__button {
    border: none;
    background: none;
    font-size: 1.5rem;
    line-height: 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.69);
}
/*END HERO*/
/*START CATEGORIES*/

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem;
    background: #020013;
}
.categories__tittle {
    color: #fafafa;
    font-size: 2rem;
}
.categories__cards {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5rem 0;
    flex-wrap: wrap;
}
.categories__cards .card {
    height: 250px;
    border-radius: 20px;
    width: 200px;
    background: #020013;
    position: relative;
    cursor: pointer;
}
.card__strong {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: #fafafa;
}
.categories__cards .action {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/action.png");
}
.categories__cards .adventure {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/adventure.png");
}
.categories__cards .sports {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/sports.png");
}
.categories__cards .shooter {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/shooter.png");
}
.categories__cards .simulation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../assets/simulation.png");
}
.card:hover {
    transform: scale(1.1);
    transition: 0.1s;
}
.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #fafafa;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #020013;
    border-right: 0.125rem solid #020013;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fafafa;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #020013;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #020013;
}
/*END CATEGORIES*/

/*START ABOUTCHOOSEUS*/
.aboutChooseUs {
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
}
.about {
    background: url(../assets/about-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
    filter: grayscale(100%);
    transition: 0.5s;
    width: 50%;
    line-height: 50px;
}

.chose {
    background: url(../assets/chose-us.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 4rem;
    filter: grayscale(100%);
    transition: 0.5s;
    width: 50%;
    line-height: 50px;
}
.aboutChoose__strong {
    color: #fff;
    font-size: 2rem;
}
.aboutChoose__p {
    color: #fff;
    font-weight: 300;
    line-height: 25px;
}
.about:hover,
.chose:hover {
    filter: grayscale(0);
    transition: 0.5s;
}
/*END ABOUTCHOOSEUS*/

/*START SALE*/

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background: #020013;
    flex-wrap: wrap;
}
.sale__img {
    max-width: 450px;
    width: 80%;
    padding: 2rem;
    margin: 2rem 0 0 0;
}
.sale .sale__text {
    padding: 2rem 0 4rem 0;
    margin: 0 0 2rem 0;
}
.sale .sale__tittle {
    font-size: 5rem;
    color: #fff;
}
.sale .sale__p {
    font-size: 15px;
    color: #fff;
    max-width: 300px;
}
.text__prices {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.prices__real {
    font-size: 2rem;
    color: #bebebe;
    text-decoration: line-through #ff0000;
}
.prices__offer {
    font-size: 3rem;
    color: #fff;
}
.sale .sale__button {
    padding: 1rem 2rem;
    border-radius: 4px;
    background: #0084ff;
    color: #fff;
    border: 2px solid #0084ff;
    cursor: pointer;
    margin-top: 1rem;
}
.sale .sale__button:hover {
    background: #0051ff;
    border: 2px solid #0051ff;
    transition: 0.2s;
}
/*END SALE*/

/*START SUSCRIBE*/
.suscribe {
    background: #060135;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #fafafa;
}
.suscribe__text {
    padding: 2rem;
}
.suscribe__tittle {
    font-size: 2rem;
    color: #fafafa;
}
.suscribe__p {
    color: #fafafa;
}
.suscribe__form {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.suscribe__input {
    padding: 1rem 2rem;
    width: 40%;
    border-radius: 4px;
    border: none;
    outline: none;
}
.btn {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #020013;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.btn::before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #002bff,
        #ff00c8,
        #002bff,
        #ff0000,
        #002bff,
        #ff00c8,
        #002bff
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.btn:hover::before {
    opacity: 1;
}

.btn:active:after {
    background: transparent;
}

.btn:active {
    color: #000;
    font-weight: bold;
}
/*END SUSCRIBE*/
.footer {
    background: #020013;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 50vh;
}
.media {
    display: flex;
    gap: 1rem;
}
.media-link i {
    color: #020013;
    width: 40px;
    height: 40px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 1.5rem;
}
.media-link i:hover {
    color: #ff00c8;
}
.footer__navbar {
    display: flex;
    gap: 1rem;
}
.footer__navbar li a {
    color: #fff;
}
.footer__navbar li span {
    border: 1px solid #fff;
}
@media (max-width: 950px) {
    .navbar {
        width: 100%;
    }
    .cart {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .header {
        padding: 0 3rem;
    }
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about,
    .chose {
        width: 100%;
        height: 100vh;
        background-position: left;
    }
    .suscribe__form {
        width: 100%;
        flex-direction: column;
    }
    .sale {
        text-align: center;
    }
    .text__prices {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer__navbar {
        display: block;
        text-align: center;
    }
    .footer__navbar li {
        margin: 3rem 0;
    }
    .footer__navbar li span {
        display: none;
    }
}
